<div id="administradores" class="service-style-four pb-70">
    <div class="container">
        <div class="section-title">
            <span class="space">---</span>
            <h2>Gestiona a los administradores actuales de Club Creativo</h2>
            <p>Cuando elimines a un administrador, tendrás que agregarlo como un usuario nuevo</p>
            <div class="button-agregar" >
                <a (click)= "redirigir('/agregar-administrador')">Agregar Nuevo Administrador</a>
            </div>
        </div>
        <div class="row">
            <ng-template ngFor let-obj [ngForOf]="admins" ; let-i="index">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-card">
                        <h3>{{obj.FirstName}} {{obj.LastName}}</h3>
                        <p>Usuario: {{obj.Username}}</p>
                        <p>Cédula: {{obj.IdAdmin}}</p>
                        
                        

                        <div class="banner-btn">
                            <a id="rechazar" (click) = "eliminarAdministrador(obj.IdAdmin)">Eliminar</a>     
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>