.pricing-section {
    .price-card {
        box-shadow: 7px 5px 30px rgba(72,73,121,.15);
        transition: var(--transition);
        border: 1px solid #069fe7;
        margin-bottom: 30px;
        border-radius: 30px;
        text-align: center;
        padding: 50px;

        &:hover {
            background:#05a3ea;
        }
        &:hover p, &:hover h3, &:hover .price-feature ul li, &:hover .price-feature ul li i {
            color: var(--whiteColor);
        }
        p {
            line-height: 1;
            color: #343d48;
            margin-bottom: 0;
            margin-bottom: 10px;
            transition: var(--transition);
            font: {
                size: 22px;
                weight: 600;
                family: var(--headingFontFamily);
            };
        }
        h3 {
            color: #0898e7;
            margin-bottom: 30px;
            transition: var(--transition);
            font: {
                size: 36px;
                weight: 700;
            };
            span {
                font-size: 15px;
                font-weight: 400;
            }
        }
        .price-feature {
            text-align: start;

            ul {
                line-height: 1;
                margin-top: 30px;
                padding-left: 30px;
                margin-bottom: 40px;

                li {
                    transition: var(--transition);
                    margin-bottom: 20px;
                    font-size: 18px;
                    color:#343d48;
                    display:block;

                    i {
                        font-size: 14px;
                        color: #32cd32;
                        margin-right: 5px;
                        transition: var(--transition);
                    }
                }
                :nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8) {
                    opacity: .5;
                }
                :last-child {
                    margin-bottom: 0;
                }
            }
        }
        .price-btn {
            a {
                font-size: 16px;
                color: #03abeb;
                font-weight: 600;
                padding: 15px 40px;
                border-radius: 50px;
                display: inline-block;
                background: var(--whiteColor);
                box-shadow: 7px 5px 30px rgba(72,73,121,.15);
            }
        }
    }
    .business-class {
        .price-feature {
            ul {
                :nth-child(5),:nth-child(6) {
                    opacity: 1;
                }
                :nth-child(7),:nth-child(8) {
                    opacity: .5;
                }
            }
        }
    }
    .premium {
        .price-feature {
            ul {
                :nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8) {
                    opacity: 1;
                }
            }
        }
    }
    .active-price {
        background: #05a3ea;
    }
    .active-price p, .active-price h3, .active-price .price-feature ul li, .active-price .price-feature ul li i {
        color: var(--whiteColor);
    }
}
.pricing-style-three {
    background: linear-gradient(90deg, rgba(228,102,92,1) 0%, rgba(217,89,120,1) 100%);
    position: relative;
    z-index: 1;

    &::before {
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: {
            image: url(../../../../../assets/img/creative-agency/price-bg.png);
            position: center center;
            size: cover;
        };
    }
    .section-title {
        max-width: 610px;
        margin-bottom: 60px;

        span {
            color: var(--whiteColor);
        }
        h2 {
            color: var(--whiteColor);
            margin-bottom: 20px;
        }
        p {
            color: var(--whiteColor);
        }
    }
    .price-card {
        border: 0;
        padding: 0 0 40px;
        background: var(--whiteColor);

        &:hover {
            background:var(--whiteColor);
        }
        &:hover .price-btn a {
            color: var(--whiteColor);
        }
        &:hover .price-btn a::before {
            opacity: 1;
        }
        &:hover .price-feature ul li {
            color:#343d48;
        }
        &:hover .price-feature ul li i {
            color: #32cd32;
        }
        .price-heading {
            border-radius: 30px 30px 40px 0px;
            background: #003041;
            padding: 40px;

            h3 {
                color: var(--whiteColor);
                margin-bottom: 15px;
                line-height: 1;
                font: {
                    size: 24px;
                    weight: 600;
                };
            }
            h2 {
                color: var(--whiteColor);
                margin-bottom: 0;
                line-height: 1;
                font: {
                    size: 36px;
                    weight: 700;
                };
                span {
                    font: {
                        size: 15px;
                        weight: 400;
                    };
                }
            }
        }
        .price-feature {
            padding: 0 50px;

            ul {
                margin-top: 40px;
            }
        }
        .price-btn {

            a {
                position: relative;
                color: #e4665c;
                z-index: 0;

                &::before {
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    content: '';
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 50px;
                    transition: var(--transition);
                    background: linear-gradient(90deg, rgba(228,102,92,1) 0%, rgba(217,89,120,1) 100%);
                }
            }
        }
        &.active .price-btn a::before {
            opacity: 1;
        }
        &.active .price-btn a {
            color: var(--whiteColor);
        }
    }
}

@media only screen and (max-width: 767px) {

    .pricing-section {
        .plan-list {
            ul {
                margin-bottom: 40px;

                li {
                    padding:0;
                    font-size: 14px;

                    a {
                        font-size: 14px;
                        padding: 10px 14px;
                    }
                }
            } 
        }
        .price-card {
            padding:40px 20px;

            p {
                font-size: 17px;
            }
            .price-feature {
                ul {
                    padding-left: 0;
                    text-align: center;

                    li {
                        font-size: 16px;
                    }
                }
            }
            .price-btn a {
                font-size: 15px;
                padding: 15px 40px;
            }
        }
    }
    .pricing-style-three {
        .price-card {
            padding: 20px;

            .price-feature {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pricing-style-three {
        .price-card {
            padding: 0 0 40px;

            .price-feature {
                ul {
                    padding-left: 0;
                }
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .pricing-section {
        .price-card {
            padding:50px 20px;

            .price-feature {
                ul {
                    padding-left:0;
                }
            }
            .price-btn {
                a {
                    padding: 15px 30px;
                }
            }
        }
    }
    .pricing-style-three {
        .price-card {
            padding: 20px;

            .price-feature {
                padding: 0 20px;
            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .pricing-section {
        .price-card {
            padding: 50px 40px;

            .price-feature {
                ul {
                    padding-left: 0;

                    li {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {}