<div id="home" class="main-banner banner-style-three banner-bg-five">
    <div class="container">
        <div class="banner-text" *ngIf="editMode == false">
            <h1>Registro de nuevo Administrador</h1>
        </div>
        <div class="banner-text" *ngIf="editMode == true">
            <h1>Edita tu cuenta</h1>
        </div>
        <div style="height: max-content">
            <app-nuevo-cliente
                [editMode]="editMode"
                Role="ADMIN"
            ></app-nuevo-cliente>
        </div>
    </div>
</div>
