<footer class="footer-area">
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4 lh-1">
                    <a href="https://www.tiktok.com/@clubcreativohcr" target="_blank">
                        <img src="assets/img/Tiktok.png" alt="tiktok">
                    </a>
                    <a href="https://www.instagram.com/clubcreativo_hcr/?hl=es" target="_blank">
                        <img src="assets/img/Instagram.png" alt="instagram">
                    </a>
                    <a href="https://wa.me/50671577350" target="_blank">
                        <img src="assets/img/Whatsapp.png" alt="whatsapp">
                    </a>
                </div>
                <div class="col-lg-6 col-md-8 lh-1">
                    <p>Creado por 
                        <a href="https://github.com/valkarov" target="_blank">Valeria Flores</a>, 
                        <a href="https://github.com/Dalaray" target="_blank">Mauro Alvarado</a>, 
                        <a href="https://github.com/RJ2K1" target="_blank">Roy Zamora</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>