<div id="about" class="main-banner banner-style-two banner-bg-two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1>Descubre Tu Creatividad en</h1> 
                    <h1>Club Creativo</h1>
                    <p>Únete a nuestros talleres y explora el mundo del arte y la creatividad. Una experiencia única para todas las edades</p>
                    <div class="banner-btn">
                        <a (click)="onClick('/dashboard-emprendimiento','talleres')">EXPLORA LOS TALLERES</a>
                        <!-- <button class="banner-video" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="flaticon-play-button"></i> Watch Video</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-image-two">
        <img src="assets/img/fondo1.jpg" alt="laptop">
        <img src="assets/img/phone1.jpg" alt="iphone">
        <img src="assets/img/shape/home-shape-three.png" alt="shape">
    </div>
    <div class="banner-shape">
        <img src="assets/img/shape/home-shape.png" alt="shape">
        <img src="assets/img/shape/home-shape-two.png" alt="shape">
        <img src="assets/img/shape/home-shape-four.png" alt="shape">
        <img src="assets/img/shape/home-shape-three.png" alt="shape">
    </div>
</div>
<div class="video-popup">
    <!-- <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/WQ119jAN4Xo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal> -->
</div>