<div
    id="home"
    class="main-banner banner-style-three banner-bg-five"
    style="min-height: 1000px; height: max-content"
>
    <div class="d-table" style="height: max-content">
        <div class="d-table-cell">
            <div class="container">
                <div class="row" style="margin-top: 10%">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <h1 *ngIf="editMode == false">
                                Registro de nuevo emprendimiento
                            </h1>
                            <p *ngIf="editMode == false">
                                Selecciona qué tipo de cédula utilizarás para
                                registrar tu emprendimiento
                            </p>

                            <h1 *ngIf="editMode == true">
                                Modifica tu emprendimiento
                            </h1>
                            <p *ngIf="editMode == true">
                                Tu Cédula y algnuos otros datos no podrán ser
                                modificados, son distintivos de tu marca
                            </p>

                            <p *ngIf="editMode == true">
                                Tu Emprendimeinto está bajo una Cédula de tipo:
                            </p>

                            <select
                                class="form-control"
                                id="tipo"
                                [(ngModel)]="objeto.IdType"
                                name="tipo"
                                [disabled]="editMode"
                                [ngClass]="{ 'disabled-input': editMode }"
                            >
                                <option value="Fisica">Física</option>
                                <option value="Juridica">Jurídica</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form class="newsletter-form">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Nombre"
                                name="Nombre"
                                [(ngModel)]="objeto.Name"
                                required
                            />
                            <label class="texto" for="Nombre" type="submit"
                                >Nombre:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Nombre de Usuario"
                                name="Usuario"
                                [(ngModel)]="objeto.Username"
                                (ngModelChange)="checkAvailabilityUser()"
                                [disabled]="editMode"
                                [ngClass]="{ 'disabled-input': editMode }"
                                [style.border]="
                                    mensajeUser === 'Disponible'
                                        ? '2px solid green'
                                        : mensajeUser === 'No disponible'
                                        ? '2px solid red'
                                        : ''
                                "
                            />

                            <label class="texto" for="Usuario" type="submit"
                                >Nombre de Usuario:</label
                            >
                        </form>

                        <form
                            class="newsletter-form"
                            *ngIf="objeto.IdType === 'Fisica'"
                        >
                            <input
                                type="number"
                                class="form-control"
                                placeholder="X-XXXX-XXXX"
                                name="IdEmprendimiento"
                                [(ngModel)]="objeto.IdEntrepreneurship"
                                (ngModelChange)="checkAvailabilityId()"
                                (input)="formatoNumeros($event, 9)"
                                [disabled]="editMode"
                                [ngClass]="{ 'disabled-input': editMode }"
                                [style.border]="
                                    mensajeId === 'Disponible'
                                        ? '2px solid green'
                                        : mensajeId === 'No disponible'
                                        ? '2px solid red'
                                        : ''
                                "
                            />
                            <label
                                class="texto"
                                for="IdEmprendimiento"
                                type="submit"
                                >Cédula:</label
                            >
                        </form>
                        <form
                            class="newsletter-form"
                            *ngIf="objeto.IdType === 'Juridica'"
                        >
                            <input
                                type="number"
                                class="form-control"
                                placeholder="X-XXX-XXXXXX"
                                name="IdEmprendimiento"
                                [(ngModel)]="objeto.IdEntrepreneurship"
                                (ngModelChange)="checkAvailabilityId()"
                                [disabled]="editMode"
                                [ngClass]="{ 'disabled-input': editMode }"
                                (input)="formatoNumeros($event, 10)"
                                [style.border]="
                                    mensajeId === 'Disponible'
                                        ? '2px solid green'
                                        : mensajeId === 'No disponible'
                                        ? '2px solid red'
                                        : ''
                                "
                            />
                            <label
                                class="texto"
                                for="IdEmprendimiento"
                                type="submit"
                                >Cédula:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <select
                                class="form-control"
                                placeholder="Selecciona un tipo"
                                id="tipo"
                                [(ngModel)]="objeto.Type"
                                name="tipo"
                            >
                                <ng-template
                                    ngFor
                                    let-obj
                                    [ngForOf]="tipos"
                                    let-i="index"
                                >
                                    <option [value]="obj.type">
                                        {{ obj.type }}
                                    </option>
                                </ng-template>
                            </select>
                            <label class="texto" for="Tipo" type="submit"
                                >Tipo:</label
                            >
                        </form>
                        <form
                            class="newsletter-form"
                            *ngIf="objeto.Type === 'Otros'"
                        >
                            <input
                                type="otro"
                                class="form-control"
                                placeholder="Otro tipo de Negocio"
                                name="Otro"
                                [(ngModel)]="otro"
                                required
                            />
                            <label class="texto" for="Otro" type="submit"
                                >Otro:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <input
                                type="email"
                                class="form-control"
                                placeholder="ejemplo@dominio.com"
                                name="Correo"
                                [(ngModel)]="objeto.Email"
                                required
                                (ngModelChange)="checkAvailabilityEmail()"
                                [disabled]="editMode"
                                [ngClass]="{ 'disabled-input': editMode }"
                                [style.border]="
                                    mensajeEmail === 'Disponible'
                                        ? '2px solid green'
                                        : mensajeEmail === 'No disponible'
                                        ? '2px solid red'
                                        : ''
                                "
                            />
                            <label class="texto" for="Correo" type="submit"
                                >Correo:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="XXXX-XXXX"
                                name="Sinpe"
                                [(ngModel)]="objeto.Sinpe"
                                (input)="formatoNumeros($event, 8)"
                                required
                            />
                            <label class="texto" for="Sinpe" type="submit"
                                >Sinpe:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <input
                                type="tel"
                                class="form-control"
                                placeholder="XXXX-XXXX"
                                name="Telefono"
                                [(ngModel)]="objeto.Phone"
                                (input)="formatoNumeros($event, 8)"
                                required
                            />
                            <label class="texto" for="Telefono" type="submit"
                                >Teléfono:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <textarea
                                class="form-control"
                                id="preguntaInput"
                                placeholder="Describe tu emprendimiento"
                                name="preguntaInput"
                                [(ngModel)]="objeto.Description"
                            ></textarea>
                            <label class="texto" for="preguntaInput"
                                >Descripción:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <select
                                class="form-control"
                                placeholder="Selecciona una provincia"
                                id="provincia"
                                [(ngModel)]="objeto.Province"
                                name="provincia"
                                (click)="selected()"
                            >
                                <ng-template
                                    ngFor
                                    let-obj
                                    [ngForOf]="provincias"
                                    let-i="index"
                                >
                                    <option [value]="obj.Name">
                                        {{ obj.Name }}
                                    </option>
                                </ng-template>
                            </select>
                            <label class="texto" for="Provincia" type="submit"
                                >Provincia:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <select
                                class="form-control"
                                id="canton"
                                [(ngModel)]="objeto.Canton"
                                name="Canton"
                                (click)="selectedcant()"
                            >
                                <ng-template
                                    ngFor
                                    let-obj
                                    [ngForOf]="cantones"
                                    let-i="index"
                                >
                                    <option [value]="obj.Name">
                                        {{ obj.Name }}
                                    </option>
                                </ng-template>
                            </select>
                            <label class="texto" for="Cantón" type="submit"
                                >Cantón:</label
                            >
                        </form>

                        <form class="newsletter-form">
                            <select
                                class="form-control"
                                id="distrito"
                                [(ngModel)]="objeto.District"
                                name="distrito"
                            >
                                <ng-template
                                    ngFor
                                    let-obj
                                    [ngForOf]="distritos"
                                    let-i="index"
                                >
                                    <option [value]="obj.Name">
                                        {{ obj.Name }}
                                    </option>
                                </ng-template>
                            </select>
                            <label class="texto" for="Distrito" type="submit"
                                >Distrito:</label
                            >
                        </form>

                        <form
                            class="newsletter-form"
                            *ngFor="let social of sociales; let i = index"
                        >
                            <input
                                type="otro"
                                class="form-control"
                                placeholder="Agrega el link acá"
                                name="otro{{ i }}"
                                [(ngModel)]="social.Link"
                                required
                            />

                            <select
                                id="sociales"
                                class="form-control"
                                name="Otro{{ i }}"
                                [(ngModel)]="social.Type"
                                required
                            >
                                <option value="" disabled>
                                    Selecciona un tipo de negocio
                                </option>
                                <option
                                    *ngFor="let type of socialTypes"
                                    [value]="type"
                                >
                                    {{ type }}
                                </option>
                            </select>
                        </form>
                        <div class="banner-btn" *ngIf="sociales.length < 5">
                            <a id="editar" (click)="addOtro()"
                                >Agregar social</a
                            >
                        </div>

                        <div class="banner-btn">
                            <a (click)="guardar()">Agregar</a>
                            <a (click)="redirigir('/dashboard-cliente')"
                                >Cancelar</a
                            >
                        </div>
                        <span class="space"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
