<div id="home" class="main-banner banner-style-three">
    <div style="height: max-content" class="container">
        <div class="section-title">
            <span class="space">---</span>
            <h2>Foro</h2>
            <div class="button-agregar">
                <a (click)="redirigir('/foro/crearpost')"
                    >Crear Nuevo Post En el foro</a
                >
            </div>
        </div>
        <div class="row">
            <ng-template ngFor let-obj [ngForOf]="forumPost" ; let-i="index">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-card">
                        <h3>{{ obj.Title }}</h3>
                        <p>{{ obj.Description }}</p>
                        <div class="banner-btn">
                            <a id="aceptar" (click)="visitarPost(obj.Id)"
                                >Visitar</a
                            >
                            <a
                                *ngIf="obj.IsYours"
                                id="rechazar"
                                (click)="deletePost(obj.Id)"
                                >Eliminar</a
                            >
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
