<div id="home" class="main-banner banner-style-three">
    <div class="container">
        <div class="section-title">
            <span class="space">---</span>
            <h2>Gestiona el inventario de Club creativo</h2>
            <div class="button-agregar">
                <a (click)="changeShowEdit()"
                    >Agregar Nuevo Objeto al inventario</a
                >
            </div>
        </div>
        <ng-container *ngIf="showEdit">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="default-btn electronics-btn" type="submit"
                        >Nombre</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Ingresa el nombre del objeto a agregar"
                        name="user"
                        [(ngModel)]="this.objeto.Name"
                    />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="default-btn electronics-btn" type="submit"
                        >Cantidad</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        placeholder="Ingresa el username"
                        name="user"
                        [(ngModel)]="this.objeto.Quantity"
                    />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <br />
                    <button class="default-btn electronics-btn" (click)="add()">
                        agregar
                    </button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let objeto of inventoryItems">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="default-btn electronics-btn" type="submit"
                        >Nombre</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Ingresa el nombre del objeto a agregar"
                        name="user"
                        [(ngModel)]="objeto.Name"
                    />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <label class="default-btn electronics-btn" type="submit"
                        >Cantidad</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        placeholder="Ingresa el username"
                        name="user"
                        [(ngModel)]="objeto.Quantity"
                    />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <br />
                    <button
                        class="default-btn electronics-btn"
                        (click)="editar(objeto)"
                    >
                        editar
                    </button>
                    <button
                        class="default-btn electronics-btn"
                        (click)="eliminar(objeto)"
                    >
                        Eliminar
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
