.testimonial-style-two {
    .testimonial-slider-area {
        position: relative;

        &::before {
            top: -35px;
            left: -45px;
            content: '';
            width: 115%;
            height: 130%;
            position: absolute;
            background:#f6f3ff;
            clip-path: polygon(3% 39%, 99% 11%, 95% 75%, 6% 99%);
        }
        .testimonial-items {
            clip-path: polygon(0 0%, 100% 19%, 97% 100%, 5% 100%);
            background: #7c58fc;
            padding: 60px;

            .client-info {
                float: left;
                padding-left: 50px;

                img {
                    max-width:80px;
                    margin-bottom: 15px;
                }
                h6 {
                   font-size: 20px;
                   font-weight: 600; 
                   margin-bottom: 5px;
                   color: var(--whiteColor);
                }
                p {
                    color: var(--whiteColor);
                    margin-bottom: 0;
                }
            }
            .client-text {
                margin-bottom: 0;
                padding: 50px 0px 0px 170px;
                text-align: center;
                color: var(--whiteColor);
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .testimonial-style-two {
        .section-title {
            h2 {
                font-size: 20px;
            }
        }
        .testimonial-slider-area {
            &::before {
                display: none;
            }
            .testimonial-items  {
                padding: 25px;

                .client-info {
                    float: none;
                    padding-left: 0;
                }
                .client-text {
                    padding: 0;
                    text-align:left;
                }
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .testimonial-style-two {
        .testimonial-slider-area {
            &::before {
                display: none;
            }
            .owl-prev {
                left:-30px;
                width: 35px;
                height: 35px;
                line-height: 35px !important;
                font-size: 14px !important;
            }
            .owl-next {
                right: -40px;
                width: 35px;
                height: 35px;
                line-height: 35px !important;
                font-size: 14px !important;
            }
        } 
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .testimonial-style-two {
        .testimonial-slider-area {
            .testimonial-items {
                .client-text {
                    font-size: 15px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {}