.main-banner {
    position: relative;
    height: 900px;
    background: {
        position: center center;
        size: cover;
    };
    .banner-text {
        max-width: 650px;

        h1 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 30px;
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
            margin-bottom: 30px;
            max-width: 600px;
        }
        .banner-btn {
            a {
                color: #03abeb;
                font-weight: 600;
                margin-right: 30px;
                padding: 10px 30px;
                border-radius: 80px;
                background-color: var(--whiteColor);
                box-shadow: 0 6px 13px rgba(0, 0, 0, 0.25) !important;
                font: {
                    weight: 600;
                    family: var(--headingFontFamily);
                };
                &:hover {
                    background: #03abeb;
                    color: var(--whiteColor);
                }
            }
            .banner-video {
                font-family: var(--headingFontFamily);
                color: var(--whiteColor);
                background: transparent;
                display: inline-block;
                padding: 0;
                border: 0;

                i {
                    position: relative;
                    font-size: 35px;
                    left: -5px;
                    top: 7px;
                }
                &:hover {
                    background: none;
                }
            }
        }
    }
    .banner-img {
        position: relative;
        z-index: 0;
        
        img {
            animation:translateY 10s infinite linear;
        }
        &::before {
            left: 40px;
            top: -47px;
            z-index: -1;
            content: '';
            width: 135px;
            height: 120px;
            position: absolute;
            animation: translateX 6s infinite linear;
            background: {
                image: url(../../../../../assets/img/shape/home-shape-three.png);
                position: center center;
                size: cover;
            };
        }
        &::after {
            content: '';
            z-index: -1;
            width: 150px;
            right: -50px;
            bottom:-50px;
            height: 150px;
            position: absolute;
            border-radius: 30px;
            background-color: #d3c0fa;
            animation: translateX 6s infinite linear;
        }
        img {
            max-width: 250px;
            border-radius: 25px;
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        }
    }
    .banner-shape {
        img {
            position: absolute;
        }
        :nth-child(1) {
            top: 140px;
            left: -100px;
            width: 220px;
            animation-delay: 1s;
            animation: translateY 4s infinite linear;
        }
        :nth-child(2) {
            top: 0px;
            left: -25px;
            width: 100px;
            animation: translateY 4s infinite linear;
        }
        :nth-child(3) {
            top: 100px;
            right: 50px;
            animation: translateX 6s infinite linear;
        }
    }
}
.banner-bg-one {
    background-image: url(../../../../../assets/img/app-landing/banner-bg.png);
}

@media only screen and (max-width: 767px) {

    .main-banner {
        height: 100%;
        background:#069ee8;
        
        .banner-shape {
            display: none;
        }
        .banner-text {
            text-align: center;
            padding: 120px 0 45px;

            h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
            .banner-btn a {
                margin-right: 10px;
                padding: 8px 16px;
                font-size: 14px;
            }
        }
        .banner-img {
            margin: 0 auto 50px;
            position: relative;
            max-width: 200px;
            z-index: 0;

            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
            img {
                width: 100%;
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-banner {
        height: 100%;
        background:#069ee8;
        
        .banner-shape {
            display: none;
        }
        .banner-text {
            text-align: center;
            padding: 120px 0 40px;

            h1 {
                font-size: 30px;
                margin-bottom:20px;
            }
            p {
                margin: 0 auto 5px;
            }
            .banner-btn a {
                margin-right: 10px;
                padding: 8px 16px;
                font-size: 14px;
            }
        }
        .banner-img {
            margin: 0 auto 50px;
            position: relative;
            max-width: 200px;
            z-index: 0;

            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
            img {
                width: 100%;
            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-banner {
        background: #03ABEB;
        
        .banner-img {
            img {
                max-width: 100%;
            }
            &::after, &::before {
                display: none;
            }
        }
        .banner-text {
            padding:0;

            h1 {
                font-size: 50px;
            }
        }
        .banner-shape {
            display: none;
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 1550px) {

    .main-banner {
        height: 1000px;

        .banner-shape {
            :nth-child(1) {
                top: 0;
                left: -100px;
                width: 245px;
            }

            :nth-child(2) {
                left: 100px;
            }

            :nth-child(3) {
                right: 150px;
                top: 100px;
            }
        }
        .banner-image-two {
            :nth-child(1) {
                bottom: 100px;
                right: 0;
                max-width: 900px;
                z-index: 1;
            }

            :nth-child(2) {
                bottom: 100px;
                right:50px;
            }

            :nth-child(3) {
                bottom: 55%;
            }
        }
    }

}